**/target/

# IntelliJ project files
**/out
html
.idea
*.iml
*.ipr
*.iws
# mybatis代码生成器 模板文件,及代码生成器
**/mybatisGenerator*/**
**/mybatisTemplates*/

# Eclipse project files
**/.classpath
**/.project
**/.settings/
**/bin/
**.factorypath
**.apt_generated*
**.eml

# gradle
.gradle
**/build

# MacOS
.DS_Store
/repo/

# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata

# test
**/test/**
