<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mardoner.mall.admin.mapper.ums.UmsAdminPermissionRelationMapper">

    <insert id="insertList">
        INSERT INTO ums_admin_permission_relation(admin_id,permission_id,type)
        VALUES
          <foreach collection="list" item="item" separator=",">
              (#{item.adminId},#{item.permissionId},#{item.type})
          </foreach>
    </insert>
</mapper>