<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mardoner.mall.admin.mapper.sms.CouponProductCategoryRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mardoner.mall.admin.entity.sms.CouponProductCategoryRelation">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="product_category_name" property="productCategoryName" />
        <result column="parent_category_name" property="parentCategoryName" />
    </resultMap>

    <insert id="insertList">
        INSERT INTO sms_coupon_product_category_relation
        (coupon_id, product_category_id, product_category_name, parent_category_name)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.couponId},#{item.productCategoryId},#{item.productCategoryName},
            {item.parentCategoryName})
        </foreach>
    </insert>
</mapper>
