<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mardoner.mall.admin.mapper.pms.ProductAttributeValueMapper">
    <resultMap id="BaseMap" type="com.mardoner.mall.admin.entity.pms.ProductAttributeValue">
        <id property="id" column="id"></id>
        <result property="productId" column="product_id"></result>
        <result property="productAttributeId" column="product_attribute_id"></result>
        <result property="value" column="value"></result>
    </resultMap>


    <insert id="insertList">
        INSERT INTO pms_product_attribute_value(product_id,product_attribute_id,value)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.productId},#{item.productAttributeId},#{item.value})
        </foreach>

    </insert>

</mapper>