<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mardoner.mall.admin.mapper.pms.ProductLadderMapper">
    <resultMap id="BaseMap" type="com.mardoner.mall.admin.entity.pms.ProductLadder">
        <id property="id" column="id"></id>
        <result property="productId" column="product_id"></result>
        <result property="count" column="count"></result>
        <result property="discount" column="discount"></result>
        <result property="price" column="price"></result>
    </resultMap>

    <insert id="insertList">
        INSERT INTO pms_product_ladder(product_id,count,discount,price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.productId},#{item.count},#{item.discount},#{item.price})
        </foreach>
    </insert>

</mapper>